.App {
    height: 100vh;
    display: flex;
    color: #2a835e;
  }
  
  .App__Left {
    width: 50%;
    background-color: #2a835e;
  }
  
  .SignInPage{
    position: absolute;
      top: 50%;
      left: 75%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
  }
  
  .SignInField {
    margin-bottom: 40px;
  }
  
  .SignIn__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: #5a2a83;
  }
  
  .SignIn__Input {
    width: 90%;
    background-color: transparent;
    border: none;
    color: rgb(76, 82, 90);
    outline: none;
    border-bottom: 1px solid #5a2a83;
    font-size: 0.7em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .FormField__Input::placeholder {
    color: #b9afc2;
  }
  
  .SignIn__Button {
    background-color: #5a2a83;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
    cursor: pointer;
  }